
.body-bg {
	/* background-color: #665700 */;
	/* background-image: url('../images/body-bg/gold.jpeg'); */
}

.navbar{
	background-color: black;
	color: gold;
	
}

#navbar-fixed{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 30;
	
}



.company-name-home{
	color: gold;
	font-family: 'Anton', sans-serif;
}

.nav-text-custom{
	color: gold;
	font-size: 1.3em;
}

.nav-text-custom:hover{
	color: orange;
		
}



/* #active-page{
	background-color: gold;
	color: black;
	font-weight: bold;
} */
.container-fluid{
	margin: 1% 0 1% 0;
} 

.carousel-img-custom {
	max-height: 75vh;
}

#a-text-decor-custom-1,
#a-text-decor-custom-2,
#a-text-decor-custom-3,
#a-text-decor-custom-4,
#a-text-decor-custom-5{
	text-decoration: none;
}

.btn-box{
	width: 45%; 
	position: relative; 
	left: 50%; 
	transform: translateX(-50%);

}

.btn-custom{
	background-color: black;
	color: gold;
	text-decoration: none;

}

.promo-div-custom{
	margin: 2% 0;
	
}

.free-bg-custom{
	background-color: black;
	color: gold;
	margin-bottom: 0;
}
.promo-content-custom{
	width: 95%;
	border: 1px black solid;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 0 5% 0;
	background-color: gold;
	height: 100%;

}

.promo-img-custom{
	height: 200px;
	width: 100%;
	margin-top: 0;

}

#promo-description-justify{
	text-align: justify;
	padding: 0 5%;
	margin-top: 2%;


}
footer{

	height: 10vh;
	background-color: black;
	color: gold;
	text-align: center;

}

.footer-content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*About Us Styles*/

.about-us-head{
	background-color: 
	black; color: gold;
}

.mission-content-wrapper{
	margin: 2% 0;
}

.fas-about-us{
	font-size: 6em; 
	color: gold
}

.vision-content-wrapper{
	margin: 2% 0;

}

.about-us-tail{
	background-color: black; 
	color: gold;
}

/*Gallery Styles*/

#container-fluid-gallery{
	margin-top: 

}

.gallery-head{
	border: 5px solid black;
	margin: 1% 0;
	background-color: black;
	color: gold;

}

.promo-img-custom-modal{
	width: 100%;
}


/*Contact Us Styles*/

.contact-head{
	margin-bottom: 2%; 
}
.map-wrapper{
	/* border: 2px solid black;
	padding: 1% 2%;
	margin-left: 1%;
	background-color: black */

}

.contact-details-container{
	margin-top: 5%;
	color: black;
	margin-bottom: 5%; 
}


.form-border{
	border: 2px solid black;
	padding:2%;

}


/*landing page styles*/

#body-bg-landingpage{

	/* background-image: url('../images/logo/logo2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
	color: gold;
	background-color: black;
	
	
}

#landing-page-bg-custom{
	margin: 1% 0;
}

.logo-box{
	margin: 3% 0;
}

#landing-page-btn-box{
	width: 30%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 3px solid gold;
	margin-top: 3%;
	text-decoration: none;

}

#landing-page-btn{
	text-decoration: none;
	color: gold;
}


#landing-page-btn-box:hover {
	text-decoration: none;
	background-color: gold;
	color: black;
		
}

#landing-page-btn:hover {
	text-decoration: none;
	color: black;
}

/*onlinebooking styles*/

.onlinebooking-head{
	margin: 5% 0 0 0;
}

#onlinebooking-page-btn-box{
	background-color: gold;
	border: 3px solid black;
	padding: 0;
	margin: 2% 0;
}

#onlinebooking-btn{
	text-decoration: none;
	color: black;

}